body {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0px;
    padding: 0px;
    gap: 15px;
}

.one {
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    padding: 0 200px;
}

.hero-sec {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.header-bottom {
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
}

.img-ph {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b3b3b8;
    width: 800px;
}

button,
.four1 {
    background-color: #3882f6;
}

.button-class1 {
    padding: 4px 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    border-color: #3882f6;
}

.two {
    padding: 40px 200px 100px 200px;
}

.three {
    background-color: #e5e7eb;
    padding: 0 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.four {
    padding: 70px 200px;
    height: auto;
    display: flex;
    justify-content: center;
}

.four1 {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: auto 50px;
}


.blue-box {
    border-radius: 6px;
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    background-color: #3882f6;
    padding: 50px 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

button {
    color: white;
}



.button-class2 {
    padding: 6px 30px;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    color: white;
    background-color: #3882f6;
    border: 3px solid white;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.five {
    margin-top: auto;
    background-color: #1f2937;
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    padding: 0 200px;

}


.container {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.lkm {
    max-width: 200px;
    text-align: center;
}

.lkm img {
    border: 5px solid #3882f6;
    border-radius: 8px;
    width: 150px;
    height: 150px;
}